<div>
    {% if customer %}
        <table>
            <tr>
                <td>
                    {{ customer.name }}
                </td>
            </tr>
        </table>
    {% endif %}
</div>
